<ul class="list-group ">
		<li class="list-group-item list-group-item-primary"><a href="#"
			class="list-group-item list-group-item-primary list-group-item-action"
			ng-click="prikaziJela()"> Pronalazenje odredjenog jela</a></li>
		<li class="list-group-item list-group-item-danger"><a href="#"
			class="list-group-item list-group-item-danger list-group-item-action"
			ng-click="saveJelo()">Unos novog jela u jelovnik</a></li>
		<li class="list-group-item list-group-item-warning"><a href="#"
			class="list-group-item list-group-item-warning list-group-item-action"
			ng-click="menjanjeJ()">Izmena podataka o jelu</a></li>
		<li class="list-group-item list-group-item-light"><a href="#"
			class="list-group-item list-group-item-light list-group-item-action"
			ng-click="brisanjeJ()">Brisanje jela iz jelovnika</a></li>
		<li class="list-group-item list-group-item-secondary"><a href="#"
			class="list-group-item list-group-item-secondary list-group-item-action"
			ng-click="prikaziDnevniMeni()"> Pregled jela dnevnog menia </a></li>

		<li class="list-group-item list-group-item-dark"><a href="#"
			class="list-group-item list-group-item-dark list-group-item-action"
			ng-click="porucivanje()"> Porucivanje jela </a></li>
		<li class="list-group-item list-group-item-success"><a href="#"
			class="list-group-item list-group-item-success list-group-item-action"
			ng-click="prikaziStavke()">Prikaz kreirane porudzbine</a></li>

		<li class="list-group-item list-group-item-info"><a href="#"
			class="list-group-item list-group-item-info list-group-item-action"
			ng-click="aDM()">Azuriranje dnevnog menia</a></li>
		<li class="list-group-item list-group-item-light"><a href="#"
			class="list-group-item list-group-item-light list-group-item-action"
			ng-click="cDM()">Kreiranje novog dnevnog menia</a></li>


	</ul>